@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #041c32;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.banner-img {
  animation: moveUpDown 1.5s ease-in-out infinite;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
